[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
validate-email-address = "*"
six = "*"
xlwt = "*"
reportlab = "*"
django-weasyprint = "*"
django-heroku = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
